//====================================================================================================
.footer {

	&__container {
		background-color: var(--bg-footer);
	}

	&__copyright {
		color: var(--text-footer-button);
		text-align: center;
		padding: 1.5rem 0;
	}
}

//====================================================================================================
