//====================================================================================================
.van {

  &__main {}

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 2.5rem;
    padding-bottom: 5.3rem;
  }

  &__back-button {
    justify-self: flex-end;
    color: var(--text-link);
    font-family: Inter;
    font-size: 0.99663rem;
    font-style: normal;
    font-weight: 500;
    line-height: 143.75%;
    text-decoration-line: underline;
    margin-left: auto;

    margin-bottom: 2.55rem;
  }

  &__image-body {
		border-radius: 0.3125rem;
		overflow: hidden;

		margin-bottom: 3.15rem;
    img {
			aspect-ratio: 1/1;
      max-width: 100%;
    }
  }

  &__type {
		margin-bottom: 1.46rem;

		&>p {
			display: inline-flex;
			padding: 0.1rem 1rem;
			background-color: var(--bg-accebt-vans-type-orange);
			border-radius: 4.072px;

			font-family: Inter;
			font-size: 1rem;
			font-style: normal;
			font-weight: 600;
			line-height: 1.97888rem;
			color: var(--text-accebt-vans-type);
		}

		&_simple>p {
			background-color: var(--bg-accebt-vans-type-orange);
		}

		&_luxury>p {
			background-color: var(--bg-accebt-vans-type-darkGreen);
		}

		&_rugged>p {
			background-color: var(--bg-accebt-vans-type-black);
		}
	}

  &__image {}

  &__title {}

  &__price {

    &_amount {}

    &_period {}
  }

  &__description {}

  &__main-button {}

}

//====================================================================================================