// Заголовки, загальні БЕМ блоки та інше...
.host {
  & .host-menu {
    display: flex;
    align-items: center;
    min-height: 6.15rem;
    @include adaptiveValue("gap", 29, 15);

    &__link {
			color: var(--text-header);
      font-family: Inter;
			font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 127.348%;

			&--selected {
				color: var(--text-primary);
				font-weight: 700;
				text-decoration-line: underline;
			}
    }
  }
}